/*Tom Bätzing*/
h3{color: blanchedalmond;
    background-color: black;
    padding: 40px;
;
}
h1{color: red;
    border:dotted;
padding: 30px;
margin: 30px;}
img {
    width: 440px;
    height: 280px;
    margin-left: 200px;
    padding-right: -200px;
}

h3 {
    color: white;
    background-color: black;
    padding: 30px;
    padding-left: 80px;
}

 
    


