body
{color: seagreen}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    border: 1px solid blue; 
    display:flex; 
    flex-direction:row-reverse;
    flex-wrap:wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
     
}

li {
    border:2px solid black;
    margin:0.5em; 
    padding:0.5em; 
}

.flex1 {
    order:1;
    border:3px dotted red;
}



