h1{color: darkblue}

ul{
    list-style: none;
    margin: 0;
    justify-content: space-around;
    height:300px;
    
}



img {
    width:450px;
    height:450px; 
    margin:10px;
    justify-content: center;
    transition: 1s;


}
img:hover{
    transform: scale(1.1);}
